#easy_admin:
#    entities:
#        # List the entity class name you want to manage
#        - App\Entity\Product
#        - App\Entity\Category
#        - App\Entity\User

easy_admin:
  user:
    display_name: true
    name_property_path: 'email'
  entities:
    Menu:
      class: App\Entity\MenuItem
      label: 'Menu'
      list:
        fields: ['id', 'name', 'enabled', 'uri']
      search:
        fields: ['id', 'name', 'enabled', 'uri']
      show:
        fields: ['id', 'name', 'enabled', 'uri']
      form:
        fields: ['id', 'name', 'enabled', 'uri']
    StaticPage:
      class: App\Entity\StaticPage
      label: 'Strony'
      list:
        fields:
          - id
          - { property: 'enabled', label: 'aktywna', type: 'toggle' }
          - { property: 'title', label: 'tytuł' }
      search:
        fields:
          - id
          - { property: 'enabled', label: 'aktywna', type: 'toggle' }
          - { property: 'title', label: 'tytuł' }
      show:
        fields:
          - { property: 'title', label: 'tytuł' }
          - { property: 'enabled', label: 'aktywna', type: 'toggle' }
          - { property: 'body', label: 'tytuł' }
      form:
        fields:
          - { property: 'title', label: 'tytuł' }
          - { property: 'enabled', label: 'aktywna' }
          - { property: 'body', label: 'strona', type: 'text_editor' }
