{% extends 'base.html.twig' %}

{% block title %}Static Page{% endblock %}

{% block body %}

    <div class="m-4 p-4">
        <h3>{{ page.title }}</h3>
        <div>{{ page.body|raw }}</div>
    </div>

{% endblock %}
