version: 2
jobs:
  build:
    working_directory: ~/project
    docker:
      - image: circleci/php:7-cli
        environment:
          APP_ENV: test
          MAILER_FROM: slzbs@slzbs.pl
          MAILER_URL: null://localhost
    steps:
      - checkout
      - run: sudo apt-get -y update && sudo apt-get -y install libzip-dev
      - run: sudo docker-php-ext-install zip
      - run: composer install -n
      - run: bin/phpunit
      - save_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/project
  deploy:
    working_directory: ~/project
    docker:
      - image: circleci/buildpack-deps:stable
        environment:
          MAILER_FROM: slzbs@slzbs.pl
          MAILER_URL: null://localhost
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
      - setup_remote_docker
      - run:
          name: Install Docker client
          command: |
            set -x
            VER="18.09.3"
            curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin
      - run:
          name: build docker image
          command: docker build -t lbacik/slzbs:$CIRCLE_BUILD_NUM .
      - run:
          name: push to dockerhub
          command: |
            docker login -u $DOCKER_USER -p $DOCKER_PASS
            docker push lbacik/slzbs:$CIRCLE_BUILD_NUM
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master