<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="header"></div>
        <div id="menu">
            {{ render(controller('App\\Controller\\MenuController::menu')) }}
        </div>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <div id="footer"></div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
