<!DOCTYPE html>
<html lang="pl" class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link href="{{ asset('css/b4.css') }}" rel="stylesheet"/>

        <link href="{{ asset('fontawesome-free-5.15.1-web/css/all.css') }}" rel="stylesheet"/>

        {% block stylesheets %}{% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body class="d-flex flex-column h-100">
        <header id="header" class="container-fluid pt-4">
            {% include 'header.html.twig' %}
            {{ render(controller('App\\Controller\\MenuController::menu')) }}
        </header>

        <div id="content" class="container p-5 mb-4 rounded-bottom">
            {% block body %}{% endblock %}
        </div>

        {% include 'footer.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
