
<footer class="footer mt-auto py-5 bg-dark">
    <div class="container">

        <div class="col-lg-6 text-secondary float-lg-left">
            <div>ŚlZBS: ul. Tadeusza Kościuszki 191, 40-525 Katowice</div>
            <div class="small">
                KRS: 0000071824,
                NIP: 634-14-88-520,
                REGON: 271178624
            </div>
            <div>
                nr konta: 59 1020 2313 0000 3902 0119 7987
            </div>
            <div class="small mt-2">
                <strong>adres korespondencyjny:</strong> ul. Gagarina 37/36, 41-506 Chorzów
            </div>
        </div>


        <div class="text-secondary small text-center pt-4 text-lg-right pt-lg-0">
            <div>Background photo by <a href="https://unsplash.com/@adityachinchure?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Aditya Chinchure</a> on <a href="https://unsplash.com/collections/11808839/my-first-collection/41521e2f988ae2d2d3fc85601545dd62?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></div>
            <div>Created by <a href="https://lukaszbacik.com/">Łukasz Bacik</a></div>
        </div>

    </div>
</footer>
