
<div class="container">
    <div class="row">
        <div class="col-4 col-md-3 col-lg-2">
            <img id="herb"
                 src="{{ asset('img/POL_województwo_śląskie_COA.svg') }}"
                 alt="herb"
                 class="container"/>
        </div>
        <div class="col-8 col-md-9 col-lg-6 text-center">
            <h1 class="">Śląski Związek Brydża Sportowego</h1>
        </div>
        <div class="col-lg-4 mt-md-4 text-center p-2 p-lg-0">
            <strong>nr konta</strong>: 59 1020 2313 0000 3902 0119 7987
        </div>
    </div>
</div>
