
<div class="container">
    <div class="row">
        <div class="col-2 pt-4 text-center">
            <a href="/">
                <img id="herb"
                     src="{{ asset('img/slaskie.png') }}"
                     alt="herb"
                />
            </a>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-12 col-xl-6 text-center pt-3">
                    <h1>Śląski Związek Brydża Sportowego</h1>
                </div>
                <div class="col-xl-6 text-center p-0 pt-3 d-none d-xl-inline">
                    <div>ŚlZBS: ul. Tadeusza Kościuszki 191</div>
                    <div>40-525 Katowice</div>
                    <div class="small">
                        <strong>KRS:</strong> 0000071824,
                        <strong>NIP:</strong> 634-14-88-520,
                        <strong>REGON:</strong> 271178624
                    </div>
                    <div>
                        <strong>nr konta:</strong> 59 1020 2313 0000 3902 0119 7987
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 p-4 text-center">
            <a href="http://pzbs.pl">
                <img id="pzbs"
                     src="{{ asset('img/pzbs.png') }}"
                     alt="pzbs"
                     class="rounded"
                     />
            </a>
        </div>
    </div>
</div>
