
<div class="container">
    <div class="row">
        <div class="col-4 col-md-3 col-lg-2">
            <img id="herb"
                 src="{{ asset('img/POL_województwo_śląskie_COA.svg') }}"
                 alt="herb"
                 class="container"/>
        </div>
        <div class="col-8 col-md-9 col-lg-5 text-center">
            <h1>Śląski Związek Brydża Sportowego</h1>
        </div>
        <div class="col-lg-5 mt-md-4 text-center p-2 p-lg-0">
            <div>ŚlZBS: ul. Tadeusza Kościuszki 191, 40-525 Katowice</div>
            <div class="small">
                <strong>KRS:</strong> 0000071824,
                <strong>NIP:</strong> 634-14-88-520,
                <strong>REGON:</strong> 271178624
            </div>
            <div>
                <strong>nr konta:</strong> 59 1020 2313 0000 3902 0119 7987
            </div>
        </div>
    </div>
</div>
